.floating-popup {
    position: fixed;
    background-color: steelblue;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    /*max-width: 400px;*/
    max-height: 24rem;
    text-align: justify;
    color: black;
    font-size: small;
}

    .floating-popup .popup-content {
        max-height: 11rem; /* Set a maximum height for the content */
        overflow-y: auto; /* Apply vertical scrollbar if needed */
        max-width: 32rem;
        background-color: aliceblue;
        padding: 5px;
        border-radius: 2px;
        word-wrap: break-word;
    }

