@using PropertyManagerFL.Application.Interfaces.Services.AppManager
@using PropertyManagerFL.Application.ViewModels.Arrendamentos

@* @if (showPopup && AppAlerts is not null && AppAlerts.Any())
{
    <div class="notification">
        <div class="notification-header">
            <h3 class="notification-title">@L?["TituloNotificacoes"]</h3>
        </div>
        <div class="notification-container">
            <div class="notification-media">
                <img src="/images/icons8-alert-48.png" alt="" class="notification-user-avatar">
            </div>
            <div class="notification-content">
                @foreach (var item in AppAlerts)
                {
                    <p class="notification-text" >@item</p>
                }
            </div>            
        </div>
    </div>
} *@

@if (showPopup)
{
    <div class="floating-popup">
        <div class="popup-content">
            @foreach (var item in AppAlerts)
            {
                <div class="popup-text">@item</div>
            }
        </div>
    </div>
}

