@page
@attribute [IgnoreAntiforgeryToken]
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    @*<h1>@ViewData["Title"]</h1>*@
    @*<p>Confirme saída, por favor.</p>*@
</header>

@*<script>
    (() => {
        document.getElementById('logoutForm').submit();
    })()
</script>*@