@using PropertyManagerFL.Application.Shared.Enums;
<div class="col-3 mx-auto my-auto d-block ">
    <img width="64" height="64" src="@ImageFile" />
</div>

@code{
    protected string ImageFile { get; set; }

    [Parameter]
    public AppDefinitions.OpcoesRegisto Operation { get; set; }

    protected override void OnParametersSet()
    {
        switch (Operation)
        {
            case AppDefinitions.OpcoesRegisto.Inserir:
                ImageFile = "images/new_file256_25213.png";
                break;
            case AppDefinitions.OpcoesRegisto.Gravar:
                ImageFile = "images/edit_22164.png";
                break;
            case AppDefinitions.OpcoesRegisto.Apagar:
                ImageFile = "images/remove-icon-png-7133.png";
                break;
            case AppDefinitions.OpcoesRegisto.Backup:
                ImageFile = "images/database-icon.png";
                break;
            case AppDefinitions.OpcoesRegisto.Zip:
                ImageFile = "images/zip-icon.png";
                break;
            case AppDefinitions.OpcoesRegisto.Warning:
                ImageFile = "images/warning-icon.png";
                break;
            case AppDefinitions.OpcoesRegisto.Info:
                ImageFile = "images/info.png";
                break;
            case AppDefinitions.OpcoesRegisto.Error:
                ImageFile = "images/icons8-error-64.png";
                break;
        }

        StateHasChanged();
    }
}